@font-face {
  font-family: neue;
  src: url(./Fonts/NeueHaasDisplayMediu.ttf);
}
@font-face {
  font-family: neue;
  font-weight: 100;
  src: url(./Fonts/NeueHaasDisplayLight.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: neue;
}

html,
body {
  height: 100%;
  width: 100%;
}

.App {
  height: 100vh;
  width: 100%;
  background-color: #efe9e3;
  position: relative;
}
.HomePage {
  height: 100vh;
  width: 100%;
  background-color: #efe9e3;
  position: relative;
  padding: 0 2vw;
}
nav {
  padding: 2vw 0vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.nav_right {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.nav_right h4 {
  padding: 10px 20px;
  border: 1px solid #00000083;
  border-radius: 50px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.699);
  font-size: 18px;
  position: relative;
  transition: all ease 0.4s;
  overflow: hidden;
}

.nav_right h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.3s;
}
.nav_right h4:hover::after {
  bottom: 0;
  border-radius: 0;
}
.nav_right h4:hover a {
  color: white;
}
.nav_right h4 a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.699);
  z-index: 9;
  position: relative;
}
.nav img {
  height: 2vw;
  width: auto;
  margin-left: 2vw;
}
.hero {
  height: 65vh;
  width: 100%;
  /* background-color: orange; */
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #0000003c;
  padding-bottom: 2.5vw;
}
.left h3 {
  width: 25vw;
  font-size: 1.8vw;
  line-height: 2vw;
}
.right h1 {
  font-size: 10vw;
  text-align: right;
  line-height: 8vw;
}
.HomePage video {
  position: relative;
  border-radius: 30px;
  margin-top: 4vw;
  width: 100%;
}
.hero_shape {
  position: absolute;
  width: 46vw;
  height: 36vw;
  background-color: #fe320a;
  /* border-radius: 50%; */
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  right: 0;
  top: 65vh;
  filter: blur(20px);
}
.hero-1 {
  background-color: #fe320a;
  height: 100%;
  width: 100%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  filter: blur(10px);
  position: absolute;
}
.hero-2 {
  background: linear-gradient(#fe320a, #fe570a);
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  /* border-top-left-radius: 50%; */
  /* border-bottom-left-radius: 50%; */
  filter: blur(24px);
  position: absolute;

  animation-name: anime2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.hero-3 {
  background: linear-gradient(#fe320a, #fe570a);
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  /* border-top-left-radius: 50%; */
  /* border-bottom-left-radius: 50%; */
  filter: blur(25px);
  position: absolute;

  animation-name: anime1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes anime1 {
  from {
    transform: translate(55%, -3%);
  }
  to {
    transform: translate(0%, 10%);
  }
}
@keyframes anime2 {
  from {
    transform: translate(5%, -5%);
  }
  to {
    transform: translate(-20%, 30%);
  }
}
.banner {
  min-height: 20vh;
  width: 100%;
  /* background-color: #efeae3; */
  padding: 8vw 0;
  position: relative;
}
.moving-text {
  white-space: nowrap;
  overflow-x: auto;
}
.moving-text::-webkit-scrollbar {
  display: none;
}
.con {
  white-space: nowrap;
  display: inline-block;
  animation-name: move;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.moving-text h1 {
  font-size: 9vw;
  /* background-color: lightblue; */
  display: inline-block;
}
.dot {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: inline-block;
  background-color: #fe320a;
  margin: 1vw 2vw;
}
@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.bottom {
  height: 130vh;
  width: 100%;
  padding: 4.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9;
}
.bottom h1 {
  font-size: 4vw;
  width: 60%;
  line-height: 4vw;
}
.bottom-2 {
  width: 20%;
  margin-top: 10vw;
}
.bottom-2 img {
  width: 100%;
  border-radius: 15px;
}
.bottom-2 p {
  font-weight: 100;
  font-size: 1vw;
}
.bg-grad {
  height: 32vw;
  width: 32vw;
  position: fixed;
  border-radius: 50%;
  background: linear-gradient(to top right, #ff2d03, #fe700a);
  top: 150vw;
  left: 29%;
  filter: blur(20px);
  z-index: -1;
  animation: grady;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes grady {
  from {
    filter: blur(20px);
    transform: translate(10%, -10%) skew(0);
  }
  to {
    filter: blur(30px);
    transform: translate(-10%, 10%) skew(-12deg);
  }
}
.smalldot {
  display: inline-block;
  height: 0.5vw;
  width: 0.5vw;
  border-radius: 50%;
  background-color: #ff2d03;
}

.featured-products {
  min-height: 100vh;
  width: 100%;
  padding: 4vw 0;
}
.elem {
  height: 120px;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #3d3d3d64;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0 2vw;
}
.elem h2 {
  font-size: 3vw;
  position: relative;
  z-index: 9;
}
.overlay {
  height: 100%;
  width: 100%;
  background-color: #ff9831;
  position: absolute;
  left: 0;
  top: -100%;
  transition: all ease 0.25s;
  will-change: top;
  transform: translateZ(0);
}
.elem:hover .overlay {
  top: 0;
}
.elem-container {
}
.fixed-image {
  height: 30vw;
  width: 24vw;
  background-color: #fe320a;
  border-radius: 10px;
  position: absolute;
  z-index: 9999999;
  left: 80%;
  top: 214vw;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-position: center;
  display: none;
}
.panel {
  height: 100vh;
  width: 100%;
  margin: 10vw 0;
  background-color: black;
  border-radius: 20px;
  color: white;
  display: flex;
}

.left-panel {
  position: relative;
  padding: 10vw;
  transition: all 0.5s ease;
}
.left-panel h1,
p {
  color: #504a45;
  transition: all 0.5s ease;
}
.left-panel h1 {
  font-size: 3vw;
  padding-left: 1vw;
}
.left-panel p {
  font-size: 1.2vw;
  padding: 2vw 0;
  color: #e8e3dc;
}
.left-panel h1.selected {
  color: white;
}

.right-panel {
  flex: 1;
}
.right-panel img {
  border-radius: 18px;
  height: 100%;
  overflow: hidden;
}
.left-panel h1::before {
  content: "";
  position: absolute;
  left: 10vw;
  top: 15.5vw;
  height: 9.5vw;
  width: 3px;
  background-color: #504a45;
  transform: translateY(-50%);
  transition: background-color 0.3s ease; /* Added transition for smooth color change */
}

.left-panel h1.selected,
.left-panel h1.selected::before {
  color: #fe330a; /* Set the color for the selected (active) heading */
  /* Set the color for the selected (active) heading's bar */
}
.footer {
  background-color: Black;
  color: #fff;
  padding: 3vw 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-section {
  width: 30%;
}

.footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.social-icons a {
  display: block;
  margin-bottom: 5px;
  color: #fff;
  text-decoration: none;
}

.copyright {
  margin-top: 20px;
  text-align: center;
}
.signin {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form_main {
  width: 25vw;
  height: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #efe9e3;
  padding: 30px 30px 30px 30px;
  position: relative;
  overflow: hidden;
}

.heading {
  font-style: neue;
  font-size: 3em;
  color: #2e2e2e;
  font-weight: 700;
  margin: 5px 0 10px 0;
  z-index: 2;
}

.inputContainer {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.inputIcon {
  position: absolute;
  left: 3px;
}

.inputField {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(173, 173, 173);
  margin: 10px 0;
  color: black;
  font-size: 0.8em;
  font-weight: 500;
  box-sizing: border-box;
  padding-left: 30px;
}

.inputField:focus {
  outline: none;
  border-bottom: 2px solid;
}

.inputField::placeholder {
  color: rgb(80, 80, 80);
  font-size: 1em;
  font-weight: 500;
}

#button {
  z-index: 2;
  position: relative;
  padding: 10px 20px;
  border: 1px solid #00000083;
  border-radius: 50px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.699);
  font-size: 18px;
  transition: all ease 0.4s;
  overflow: hidden;
}

#button::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.3s;
}

#button:hover::after {
  bottom: 0;
  border-radius: 0;
}

#button h4:hover {
  color: white;
}
#button h4 {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.699);
  z-index: 9;
  position: relative;
}

.forgotLink {
  z-index: 2;
  font-size: 1em;
  font-weight: 500;
  color: black;
  text-decoration: none;
  padding: 15px 15px;
  border-radius: 20px;
}
